<app-header></app-header>
<div class="select-tree-style">
  <div class="select-div mb-4">
    <p>Select Children To Add</p>
    <div *ngFor="let category of categories" class="field-checkbox">
      <p-checkbox
        [(ngModel)]="selectedCategories"
        [label]="category.name"
        name="group"
        [value]="category"
      />
    </div>
    <button id="add-selected-categories">Add Selected Nodes</button>
  </div>
  <div id="treeDiv" class="tree-div">
    <div id="chart-container" #orgTree></div>
    <div id="edit-panel" class="view-state">
      <div>
        <span id="chart-state-panel" class="radio-panel">
          <input
            type="radio"
            name="chart-state"
            id="rd-view"
            value="view"
            checked="true"
          /><label for="rd-view">View</label>
          <input
            type="radio"
            name="chart-state"
            id="rd-edit"
            value="edit"
          /><label for="rd-edit">Edit</label>
        </span>
      </div>
      <div>
        <label class="selected-node-group">selected node:</label>
        <input type="text" id="selected-node" class="selected-node-group" />
      </div>
      <div
        style="
          display: flex;
          direction: row;
          align-items: center;
          justify-content: space-around;
        "
      >
        <label>new node:</label>
        <ul id="new-nodelist">
          <li><input type="text" class="new-node" /></li>
        </ul>
        <i class="fa fa-plus-circle btn-inputs" id="btn-add-input"></i>
        <i class="fa fa-minus-circle btn-inputs" id="btn-remove-input"></i>
      </div>

      <span id="node-type-panel" class="radio-panel">
        <input
          type="radio"
          name="node-type"
          id="rd-parent"
          value="parent"
        /><label for="rd-parent">Parent(root)</label>
        <input
          type="radio"
          name="node-type"
          id="rd-child"
          value="children"
        /><label for="rd-child">Child</label>
        <input
          type="radio"
          name="node-type"
          id="rd-sibling"
          value="siblings"
        /><label for="rd-sibling">Sibling</label>
      </span>

      <div>
        <button type="button" id="btn-add-nodes">Add</button>
        <button type="button" id="btn-delete-nodes">Delete</button>
        <button type="button" id="btn-reset">Reset</button>
      </div>
    </div>
  </div>
</div>
