<app-header></app-header>
<div class="select-tree-style">
    <div class="select-div mb-4">
        <p>Select Children To Add</p>
        <div *ngFor="let category of categories" class="field-checkbox">
            <p-checkbox 
                [(ngModel)]="selectedCategories"
                [label]="category.name" 
                name="group" 
                [value]="category" />
        </div>
    </div>
    <div>
        <organization-chart [datasource]="ds"></organization-chart>    </div>

    </div>

