.box {
  background: radial-gradient(
    circle,
    #ecc8c8 0%,
    hsl(0, 16%, 91%) 50%,
    #f0d3d5 100%
  );
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.back {
  background-color: #e1cacce7;
}

::ng-deep .p-dropdown {
  display: flex;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
}
::ng-deep .p-toast .p-toast-message.p-toast-message-success {
  background: rgb(0 0 0);
  border: solid #ffffff;
  border-width: 0 0 0 6px;
  color: #00c585;
}
