/* You can add global styles to this file, and also import other style files */

body {
  font-family: "Poppins" !important;
  font-size: 13px;
  margin: 0;
  padding: 0;
}
html {
  overflow: scroll;
}
::-webkit-scrollbar {
  display: none;
  width: 3px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #21404c;
}
